#main-navbar{
  background-color: blue;
  overflow: hidden;
  width: 100%;
  position: relative;
  float: left;
}

#navbar-container ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  left: 50%;
  right: 50%;
  float: left;
}

#main-navbar ul li{
  float: left;
  position: relative;
}

#main-navbar ul li a{
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

#onpage{
  background-color: #000;
  text-decoration: underline overline;
}

#sidebar-container{
  text-align: center;
  display: block;
}

#sidebar{
position: fixed;
right:0%;
background-color: red;
height: 100%;
width: 20%;
}

#sidebar-container ul{
list-style-type: none;
padding: 0;
}

#sidebar ul li{
  padding: 15px 0;
}

#sidebar ul li a{
  color: #fff;
  text-decoration: none;
  background-color: #000;
}
